body {
  background-color: rgb(0, 0, 0);
  font-family: Arial;
  color: white;
}
.calculate-button {
  width: 60px;
  height: 60px;
  font-size: 26px;
  color: white;
  background-color: rgb(25, 25, 25);
  cursor: pointer;
  margin-right: 5px;
  border: none;
  border-radius: 60px;
}
.gray-button {
  background-color: rgb(51, 51, 51);
}
.orange-button {
  background-color: rgb(254, 160, 10);
}
.clear-button {
  font-size: 17px;
}
.show-context {
  font-size: 50px;
  color: white;
  margin: 0px;
}
