body {
  font-family: Arial;
}
.name-input,
.due-date-input {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.display-grid,
.todo-html {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.display-grid {
  align-items: stretch;
  /*By default align-items : stretch*/
}
.add-button {
  color: white;
  background-color: green;
  border: none;
  font-size: 15px;
}
.delete-button,
.delete-all-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
