body {
  background-color: rgb(115, 115, 116);
}
.heading {
  display: grid;
  justify-content: center;
  font-size: 48px;
}
.block-grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 60px);
  gap: 20px 20px;

  justify-content: center;
}

.cell {
  border: 1px dotted black;
  justify-content: center;
}
.move {
  height: 56px;
}
